body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: row;

    min-height: 100dvh;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

}

#canvas-renderer {
    border: 1px solid black;
    margin: 25px;
}

#side-menu {
    grid-area: side-menu;
    padding: 0;
    flex-grow: 1;
}

#side-menu > section {
    padding: 25px;
    margin: 25px;
    border: 1px solid black;

}

#memo-area {
    font-size: 1.7rem;
}